@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginVm

@{
    Layout = "_Layout";
}

@inject IViewLocalizer Localizer

<div class="d-grid align-items-center justify-content-center mt-5">
    <form asp-controller="Auth" asp-action="Login" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input asp-for="Email" type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">@Localizer["EmailInputMessage"].Value</label>
            <div>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
    
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">@Localizer["PasswordInputMessage"].Value</label>
            <div>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">@Localizer["SignInButtonMessage"].Value</button>
    </form>
    <!-- Register buttons -->
    <div class="text-center">
        <p>@Localizer["NotAMemberMessage"].Value <a asp-controller="Auth" asp-action="Register">@Localizer["RegisterButtonMessage"].Value</a></p>
        <p>
            <a class="btn btn-primary" asp-controller="Auth" asp-action="ExternalLoginCallback">Sign in with Google</a>
        </p>
    </div>
</div>

<script >
clearStorage();
</script>