@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@model BudgetVm
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
}

@{
    var netAmountMessage = Model.NetAmount > 0 ? Localizer["NetAmountPositiveMessage"].Value : Localizer["NetAmountNegativeMessage"].Value;
}



<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Localizer["BudgetDetailsMessage"].Value</h1>
        
            <div class="budget-container">
                <div class="budget-info">
                    <h3>@Model.Budget.Name</h3>
                    <p>Amount: @Model.Budget.Amount$</p>
                    <p>Start Date: @Model.Budget.StartDate.ToString("yyyy-MM-dd")</p>
                    <p>End Date: @Model.Budget.EndDate.ToString("yyyy-MM-dd")</p>
                    <p class=@(Model.NetAmount > 0 ? "text-black" : "text-danger")>Net amount: @(Model.NetAmount > 0 ? $"{Model.NetAmount} {netAmountMessage}" : netAmountMessage)</p>
                </div>
                <div class="budget-container">
                    <div class="budget-info">
                        <h3>@Localizer["AddTransactionButtonMessage"].Value</h3>
                        <p><a asp-controller="Transaction" asp-action="AddTransaction" asp-route-budgetId="@Model.Budget.Id">
                            @Localizer["AddTransactionMessage"].Value
                        </a></p>
                    </div>
                </div>
            </div>
        
            <h2>@Localizer["TransactionsMessage"]</h2>
        
            @if (Model.Transactions != null && Model.Transactions.Any())
            {
                <table>
                    <thead>
                    <tr>
                        <th>@Localizer["DateMessage"].Value</th>
                        <th>@Localizer["CategoryNameMessage"].Value</th>
                        <th>@Localizer["AmountMessage"].Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@Localizer["DateMessage"].Value: @transaction.Date.ToString("yyyy-MM-dd")</td>
                            <td>@Localizer["CategoryNameMessage"].Value: @transaction.CategoryName</td>
                            <td>@Localizer["AmountMessage"].Value: @transaction.Amount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p class="no-transactions">@Localizer["NoTransactionsFoundMessage"].Value</p>
            }
        
        </div>
        
        <div class="col" id="incomeExpenseChart"></div>
    </div>

</div>


<script>
    generateTransactions('@Html.Raw(Model.TransactionsJson)');
</script>