@using Microsoft.AspNetCore.Mvc.Localization
@model List<Application.Common.Dtos.BudgetDto>

@{
    Layout = "_Layout";
}

@inject IViewLocalizer Localizer

<h1 class="text-center">@Localizer["WelcomeMessage"]</h1>
<div class="d-grid justify-content-center">
    <p>@Localizer["AddBudgetButtonMessage"]</p>
    <a asp-controller="Budget" asp-action="AddBudget" class="btn btn-primary">@Localizer["AddBudgetMessage"]</a>
</div>

@if (Model.Count == 0)
{
    <div class="d-grid justify-content-center">
        <p>@Localizer["NoBudgetsMessage"]</p>
    </div>
}
else
{
    @foreach(var budget in Model)
    {
        <div class="card mx-auto">
            <div class="card-body">
                <h5 class="card-title">@budget.Name</h5>
                <p class="card-text">@budget.Amount</p>
                <a asp-action="Budget" asp-controller="Budget" asp-route-id="@budget.Id" class="btn btn-primary">@Localizer["GoSeeTransactionsMessage"]</a>
            </div>
        </div>
    }
}

