@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@inject IViewLocalizer Localizer

<h1 class="text-danger">@Localizer["ErrorWelcomeMessage"].Value</h1>
<h2 class="text-danger">@Localizer["ErrorDescriptionMessage"].Value</h2>

@if (Model.ShowRequestId)
{
    <p>
        @* <strong>Request ID:</strong> <code>@Model.RequestId</code> and error message is @Model.Message *@
        <strong>@Model.Message</strong>
    </p>
}